.grid {
  display: flex;
  width: 450px;
  height: 450px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.square {
  height: 80px;
  width: 80px;
  border: 1px solid #dedede;
  border-radius: 5px;
}

#gridArea {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.mole {
  background-image: url("../img/mole.png");
  background-size: cover;
  background-color: #07a812;
  transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s; 
}

.header {
  display: flex;
  justify-content: space-between;
  width: 450px;
  padding: 35px 0;
}

.scoreArea {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex: 1;
}

.timeArea {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex: 1;
}
